h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    background-color:rgba(180, 198, 231);
}
img{
    width: 60px;
    height: 60px;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
background:linear-gradient(rgba(180, 198, 231),rgba(142,179,219));
display: flex;
justify-content: center;
align-items: center;
text-align:justify;
}
label{
    margin-left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nombres{
    margin-left: 124px;
}
#apellidos{
    margin-left: 124px;
}
#espe{
    margin-left: 100px;
}
#nacimiento{
    margin-left: 30px;
}
#tel{
    margin-left: 127px;
}
#barrio{
    margin-left: 148px;
}
button{
display: block;
margin-left: auto;
margin-right: auto;
background:linear-gradient(rgba(180, 198, 231),rgba(17,28,180));
border-color:rgba(180, 198, 231);
font-size: 102%;
color: white;
width: 110px;
height: 30px;
}
a{
    text-decoration: none;
}
nav{
    display:inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    display: flex;
justify-content: center;
align-items: center;
}
