h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    background-color:rgba(180, 198, 231);
}
img{
    width: 60px;
    height: 60px;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	background:linear-gradient(rgba(180, 198, 231),rgba(142,179,219));
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:justify;
}
label{
    margin-left: 780px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nombres{
    margin-left: 124px;
}
#apellidos{
    margin-left: 124px;
}
#fecha{
    margin-left: 29px;
}
#telefono{
    margin-left: 130px;
}
#direccion{
    margin-left: 123px;
}
#barrio{
    margin-left: 148px;
}
button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background:linear-gradient(rgba(180, 198, 231),rgba(17,28,180));
	border-color:rgba(180, 198, 231);
    color: white;
	width: 110px;
    height: 30px;
}
.binf{
	display: block;
    margin: 9px;
	/* margin-left: auto;
	margin-right: auto; */
	background:linear-gradient(rgba(180, 198, 231),rgba(17,28,180));
	border-color:rgba(180, 198, 231);
    color: white;
	width: 120px;
    height: 30px;
}
a{
    text-decoration: none;
}
nav{
    display:inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 750px;
    margin-top: 10px;
}