h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    background-color:rgba(180, 198, 231);
}
img{
    width: 60px;
    height: 60px;
}
header{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background:linear-gradient(rgba(180, 198, 231),rgba(142,179,219));
display: flex;
justify-content: center;
align-items: center;
text-align:justify;
}
label{
    margin-left: 42%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
display: block;
margin-left: auto;
margin-right: auto;
background:linear-gradient(rgba(180, 198, 231),rgba(17,28,180));
border-color:rgba(180, 198, 231);
color: white;
font-size: 75%;
width: 110px;
height: 35px;
}

a{
    text-decoration: none;
}
nav{
    display:inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 120%;
    display: flex;
justify-content: center;
align-items: center;
}