h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
	background-color:rgba(180, 198, 231);
}
label,input{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}
button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(229, 190, 1) ;
	border-color:rgba(229, 190, 1);
	width: 110px;
}
img{
	width: 60px;
	height: 60px;
}
.img2{
	width: 60px;
	height: 60px;
	display:block;
	margin-top: 10px;
}
header{
	background:linear-gradient(rgba(180, 198, 231),rgba(142,179,219));
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:justify;
}